<div class="row">
    <div class="col-md-6">
        <p>
            In TD FormsModule used 
        </p>
        <p>
            In reactve forms ReactiveFormsModule is used
        </p>
    </div>
</div>
<hr>
<button type="button" class="btn btn-primary" routerLink="template-driven">Template Driven</button>
<button type="button" class="btn btn-secondary" routerLink="practic-td">Template Driven Practice</button>
<button type="button" class="btn btn-success" routerLink="reactive">Reactive</button>
<button type="button" class="btn btn-info" routerLink="practice-reactive">Reactive Practice</button>

<router-outlet></router-outlet>