.cappointment{
    background-color: seashell;
    /* padding: 7% 1%; */
}

.appointment{
    background-color: rgb(224, 37, 37);
    width: 20%;
    padding: 3% 3%;
    margin: 70px 150px;
    border: 1px solid rgb(202, 38, 38);
    float: left;
    text-decoration: none;
}
.patient-appointment{
    width: 150px;
    padding: 2%;
    margin-left: 25px;
}
.figcaption{
    color: #ffffff;
    font-size: 20px;
    margin: 22px 40px
}