.NavigarionBar{
    width: 100%;
    margin: 0 auto;
}
.Navigation {
    width: 85%;
    /* height: 90px; */
    background-color: #ffffff;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    padding: 35px 0px 35px 0px;
}
.Navigation-anchor{
    display: inline;
    padding: 35px 0 35px 51px
}
.menuShow {
    display: none;
}

/* .menuHide {
    display: none;
} */
.nav1{
    padding: 35px 30px 35px 100px;
    width: 70px;
    height: 13px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.1s;
    padding: 20px 0;
    margin: 0 10px;
    cursor: pointer;
}
.nav1:hover{
    color: #003681;
}
.navigation-logo {
    background-color: #003681;
    float: left;
    margin: -36px 40px 0px 0px;
    padding: 0px 5px 0 5px;
}
.Comlogo{
    margin: 21px 15px;
    /* height: 50px; */
    width: 130px;
}
.icon{
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 100px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
    color: #ffffff;
}
.icon:hover{
    color: #aaa9aa;
}
#chk{
    /* position: absolute;
    visibility: hidden;
    z-index: -1111; */
    display: none;
}
/* .Navigation-MobMenu{
    display: none;
} */