.PatinetDetail{
    width: 100%;
    margin: 0 auto;
}
.PatientInfo{
    width: 95%;
    margin: 5px auto 0 auto;
    display: flex;
}
.PatientImgName{

}
.PatientImage {
    width: 250px;
    position: relative;
}
.PatientCall {
    border: 1px groove;
    position: absolute;
    margin: 0px 0 0px 0;
    width: 18.2%;
    background-color: #ff6347;
    padding: 30px 0 25px 0;
    top: 52.6%;
    cursor: pointer;
}
.PhoneCallIcon {
    position: absolute;
    bottom: 42%;
    left: 39%;
    background-color: #fff;
    border-radius: 40px;
    width: 60px;
    line-height: 50px;
}
.PhoneIcon {
    font-size: 35px;
    color: #ff6347;
    padding: 2px 0 0 10px;
}
.PatientNameBorder {
    /* background-color: #00000063;
    opacity: 50%; */
}
.PatientName {
    border: 1px groove;
    position: absolute;
    margin: 0px 0 0px 0;
    top: 41.2%;
    text-indent: 15%;
    width: 18.2%;
    color: #fff;
    background-color: #0000007a;
    padding: 0 0 15px 0;
    height: 8%;
    text-transform: capitalize;
}
.patientInfoRight {
    width: 80%;
    margin: 0 auto 4px auto;
    background-color: dimgrey;
}
.PDetailBlockOne {
    display: flex;
    width: 90%;
    margin: 0px auto;
}
.PatientConditionHeading {
    padding: 0px 0px 0px 0px;
    width: 80%;
    margin: 10px 0;
    color: #fff;
}
.BorderLine{
    border-bottom: 1px solid #acacac;
}
.PDetailBlockTwo{
    width: 90%;
    margin: 0 auto;
}
.GBT {
    width: 100%;
    margin: 7px auto 10px auto;
    display: inline-flex;
}
.AP{
    width: 100%;
    margin: 0 auto 7px auto;
    display: flex;
}
.BlockTwoIcons {
    font-size: 25px;
    padding: 0 0px 0 0px;
    color: #fff;
    margin: 0 150px 0 0px;
    display: inline-flex;
}
.BlockTwoIconsTwo{
    font-size: 25px;
    padding: 0 0px 0 0px;
    color: #fff;
    margin: 0 99px 0 0px;
    display: inline-flex;
}
.GPLA, .appointmentIcon{
    /* display: inline-flex; */
    padding: 25px 15px 0 0;
    font-size: 35px;
}
.PDetailBlock3{
    /* width: 90%;
    margin: 0 auto; */
}
.Block3Content {
    float: right;
    margin: 0 auto;
    width: 40%;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 18px;
}
.InfoName{
    /* display: inline-block;
    font-size: 20px;
    color: #fff; */
}
.InfoIcon{
    font-size: 18px;
    padding: 0 15px;
    color: #fff;
}
.DropDownButtonPD{
    text-align: right;
    position: relative;
}
.gestationValue, .dob, .fetus{
    font-size: 35px;
    padding: 0 15px 0 0;
}
.GPLANumbers {
    font-size: 20px;
    padding: 0px 5px 0px 3px;
    margin: 0px 0px 0px 0px;
}
.MCNames {
    text-decoration: none;
    padding: 0px 0px 0px 45px;
    color: #fff;
}

