.GestationValue {
    border: 1px solid #a0a0a0;
    padding: 10px;
    text-align: center;
    color: #a0a0a0;
    font-weight: 400;
    font-size: 22px;
}
.DateValue {
    width: 70%;
    margin: 29px 0 0px 0;
    border-bottom: 1px solid #a0a0a0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    color: #0ac3db;
    outline: none;
}
.LMPDateValue{
    width: 80%;
    margin: 29px 0 0px 0;
    border-bottom: 1px solid #a0a0a0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    color: #0ac3db;
    outline: none;
}
.BTwoLmpDateValue {
    width: 85%;
    display: inline-flex;
    margin: 0 0px 0 0px;
}
.LmpNameValue {
    font-size: 30px;
    text-transform: uppercase;
    color: #a0a0a0;
    padding: 0px 0 0px 0;
    margin: 15px 38% 15px 0px;
}
.LmpScanBtn {
    position: absolute;
    left: 49%;
    top: 63.4%;
    font-size: 20px;
    color: #0ac3db;
    font-weight: 500;
    text-transform: capitalize;
}
.FetusNameValue{
    font-size: 30px;
    text-transform: capitalize;
    color: #a0a0a0;
    padding: 0px 0 0px 0;
    margin: 15px 36% 15px 0px;
}
.FetusValue {
    font-size: 20px;
    color: #0ac3db;
    font-weight: 500;
    text-transform: capitalize;
    width: 15%;
    margin: 35px 30px 0px 0;
    border-bottom: 1px solid #a0a0a0;
    border-top: none;
    border-left: none;
    border-right: none;
    text-indent: 0%;
}
.PONameValue{
    font-size: 30px;
    text-transform: capitalize;
    color: #a0a0a0;
    padding: 0px 0 0px 0;
    margin: 15px 22% 15px 0px;
}
.POValue{
    font-size: 20px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    width: 5%;
    margin: 10px 0 15px 0;
    border-bottom: 1px solid #a0a0a0;
    border-top: none;
    border-left: none;
    border-right: none;
    text-indent: 10%;
}
.POValues{
    margin: -20px 0 0 15px;
    color: #0ac3db;
    font-weight: 500;
}
.RiskValue{
    font-size: 30px;
    text-transform: capitalize;
    color: #a0a0a0;
    padding: 0px 0 0px 0;
    margin: 15px 36% 15px 0px;
}
.RiskOthersValue{
    font-size: 30px;
    text-transform: capitalize;
    color: #a0a0a0;
    padding: 0px 0 0px 0;
    /* margin: 15px 36% 15px 0px; */
}
.RiskOthersValues{
    font-size: 20px;
    color: #0ac3db;
    font-weight: 500;
    text-transform: capitalize;
    width: 81%;
    margin: 35px 30px 0px 0;
    border-bottom: 1px solid #a0a0a0;
    border-top: none;
    border-left: none;
    border-right: none;
    text-indent: 0%;
}
.BlockOthers{
    width: 88%;
    margin: 25px auto 25px auto;
}
.BlockLHB {
    /* display: flex; */
    width: 88%;
    margin: 25px auto 25px auto;
}
.LHBstatus{
    display: flex;
}
.LHBvalue{
    color: #0ac3db;
}