.emailforget{
    width: 88%;
    border: 0 0 1px 0 gray solid;
    /* padding-left: 40px; */
    margin-bottom: 36px;
    border: none;
    border-bottom: 1px solid rgb(78, 77, 77);
    outline: none;
    text-indent: 8%;
    background-color: rgb(248, 238, 238);
    color:black;
    padding-bottom: 7px;
}
.main-forget{
    width: 25%;
    margin: 0 auto;
    background-color: rgb(248, 238, 238);
    border: 1px solid rgb(138, 130, 130);
    border-radius: 3px;
    margin-top: 8%;
    padding: 45px;
    opacity: 0.9;

}
.reset {
    background-color: #ee3939;
    color: white;
    outline: none;
    border-radius: 85px;
    padding: 11px 42px;
    margin-top: 34px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-left: 55px;
}
.conformation{
    padding-top: 20px;
}
.confirmationerror{
    color:red;
}
.mn{
    color: #ee3939;
}
.passwordforget{
    width: 17%;
    margin: 0 auto;
    padding-top: 65px;
}